.pagination{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
}

.pagination-simple .pagination-prev, .pagination-simple .pagination-next {
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.pagination-disabled, .pagination-disabled:hover, .pagination-disabled:focus {
  cursor: not-allowed;
}
.pagination-prev, .pagination-next {
  outline: 0;
}
.pagination-prev, .pagination-next, .pagination-jump-prev, .pagination-jump-next {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  color: rgba(0, 0, 0, 0.65);
  font-family: Arial;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pagination-prev, .pagination-jump-prev, .pagination-jump-next {
  margin-right: 8px;
}
a[disabled] {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
  pointer-events: none;
}
.pagination-prev a, .pagination-next a {
  color: rgba(0, 0, 0, 0.65);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pagination-prev .pagination-item-link, .pagination-next .pagination-item-link {
  display: block;
  height: 100%;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pagination-disabled a, .pagination-disabled:hover a, .pagination-disabled:focus a, .pagination-disabled .pagination-item-link, .pagination-disabled:hover .pagination-item-link, .pagination-disabled:focus .pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.pagination-prev .pagination-item-link, .pagination-next .pagination-item-link {
  height: 24px;
  border: 0;
}
.pagination-simple .pagination-simple-pager {
  display: inline-block;
  height: 24px;
  margin-right: 8px;
}
.pagination-simple-pager input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin-right: 8px;
  padding: 0 6px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.pagination-slash {
  margin: 0 10px 0 5px;
}
